.cost-calc__title {
  color: #2d2d2d;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 24px;
}
.cost-calc__text {
  width: 100%;
  color: #708699;
  font-size: 11px;
  font-weight: 400;
  line-height: 16px;
}
.cost-calc__city {
  position: relative;
}
.cost-calc__city-tips.tips,
.dialog-form__tips.tips {
  display: none;
}
.cost-calc__city-tips.tips.is-active,
.dialog-form__tips.tips.is-active {
  position: absolute;
  display: block;
  width: 100%;
  margin-top: 4px;
  border-radius: 0px 0px 3px 3px;
  border: 1px solid #d6e0e4;
  background: #fff;
  transition: background-color 0.3s linear;
}
.cost-calc__city-tips .tips__list,
.dialog-form__tips .tips__list {
  display: flex;
  flex-direction: column;
}
.cost-calc__city-tips .tips__item,
.dialog-form__tips .tips__item {
  position: relative;
  margin: 0;
  transition: all 0.3s;
}
.cost-calc__city-tips .tips__item:hover::before,
.dialog-form__tips .tips__item:hover::before {
  content: '';
  position: absolute;
  top: 0;
  left: -1px;
  width: 1px;
  height: 26px;
  background-color: #4192d9;
}
.cost-calc__city-tips .tips__btn,
.dialog-form__tips .tips__btn {
  width: 100%;
  padding: 4px 9px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #2d2d2d;
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-align: left;
  transition: background-color 0.3s;
}
.cost-calc__city-tips .tips__btn:hover,
.dialog-form__tips .tips__btn:hover {
  background-color: rgba(65, 146, 217, 0.1);
}
.cost-calc__city-tips .tips__btn span,
.dialog-form__tips .tips__btn span {
  color: #708699;
}
.cost-calc__aside {
  align-self: flex-start;
  max-width: 327px;
  padding: 16px;
  border-radius: 3px;
  border: 1px solid #d6e0e4;
  background: #fff;
}
.cost-calc__aside-desc {
  position: relative;
  padding-bottom: 8px;
  color: #2d2d2d;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  border-bottom: 3px solid #d6e0e4;
  margin-bottom: 8px;
}
.cost-calc__aside-desc:after {
  position: absolute;
  bottom: -3px;
  left: 0;
  content: '';
  width: 37%;
  height: 3px;
  background-color: #4192d9;
}
.cost-calc__aside-desc span {
  margin-left: 4px;
  color: #4192d9;
}
.cost-calc__aside-text {
  color: #708699;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}
.cost-calc__layout {
  display: flex;
  gap: 20px;
}
.cost-calc__main {
  width: 100%;
}
.cost-calc__block {
  padding: 16px;
  border-radius: 3px;
  border: 1px solid #d6e0e4;
  background: #fff;
  margin-bottom: 24px;
}
.cost-calc__block .dialog-cols {
  border-radius: 8px;
  border: 1px solid #d6e0e4;
}
.cost-calc__block .dialog-cols__head {
  padding: 9px 8px;
}
.cost-calc__input {
  display: block;
  background: #fff;
  border-radius: 3px;
  width: 100%;
  height: 30px;
  padding: 6px 8px;
  border: 1px solid #d6e0e4;
  color: #708699;
  outline: none;
}
.cost-calc__container {
  display: flex;
  gap: 16px;
}
.cost-calc__block-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  width: 100%;
  border-radius: 3px;
  border: 1px solid #d6e0e4;
}
.cost-calc__block-box input[type='text'].cost-calc__input-price {
  padding: 6px 8px;
  border: none;
  border-radius: 0px;
  background: transparent;
  font: 12px/1.5 Arial, sans-serif;
  color: #000000;
  outline: none;
  width: 100%;
}

.cost-calc__choice-list {
  display: flex;
  align-items: center;
}
.cost-calc__choice-item {
  color: #708699;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
}
.cost-calc__choice-item::after {
  content: '/';
  color: #708699;
  margin: 0 5px;
}
.cost-calc__choice-item:last-child:after {
  display: none;
}
.cost-calc__subtitle {
  margin-bottom: 8px;
  color: #2d2d2d;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
}
.cost-calc__btns {
  display: flex;
  align-items: center;
  gap: 24px;
}
.cost-calc__category-btn.btn2 {
  display: none;
}
@media (max-width: 768px) {
  .cost-calc {
    top: 80px;
    padding: 8px 0 26px;
  }
  .cost-calc__aside {
    display: none;
  }
  .cost-calc__main {
    width: 100%;
  }
  .cost-calc__block {
    margin-bottom: 16px;
  }
  .cost-calc .dialog-cols,
  .cost-calc__choice {
    display: none;
  }
  .cost-calc__category-btn.btn2 {
    display: inline-flex;
  }
  .cost-calc__category .btn2 {
    width: 100%;
  }
  .cost-calc__container {
    gap: 8px;
    flex-wrap: wrap;
  }
  .cost-calc__btns {
    flex-direction: column;
    gap: 8px;
  }
  .cost-calc__btn.btn1,
  .cost-calc__btn.btn2 {
    width: 100%;
  }
}
.cost-calc .cost-calc__select-box-time {
  width: 100%;
}
.cost-calc .cost-calc__select-box-time .header-dpd__value {
  position: relative;
  background: none;
  padding: 6px;
  width: 100%;
  color: #708699;
  text-align: left;
  outline: none;
  border: none;
  cursor: pointer;
}
.cost-calc .cost-calc__select-box-time .header-dpd__value::before {
  display: none;
}
.cost-calc .header-dpd__value {
  position: relative;
  background: none;
  padding: 6px 6px 6px 14px;
  width: 100px;
  color: #708699;
  text-align: left;
  outline: none;
  border: none;
  cursor: pointer;
}
.cost-calc .header-dpd__value::after {
  content: '';
  position: absolute;
  top: 7px;
  right: 6px;
  width: 11px;
  height: 10px;
  background-image: url(../images/icon-arrow-select.svg);
  background-repeat: no-repeat;
  background-position: 95% 40%;
  background-size: cover;
}
.cost-calc .header-dpd__value::before {
  content: '';
  position: absolute;
  top: 6px;
  left: 0;
  width: 1px;
  height: 16px;
  background-color: #d6e0e4;
}
.cost-calc .header-dpd {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  font-size: 12px;
}
.cost-calc .header-dpd--opened .header-dpd__body {
  display: block;
}
.cost-calc .header-dpd__body {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  z-index: 2;
  background: #fff;
  border: 1px solid silver;
}
.cost-calc .header-dpd--currency .header-dpd__body {
  min-width: 100px;
}
.cost-calc .header-dpd--lang .header-dpd__body {
  min-width: 140px;
}
.cost-calc .header-dpd__body .header-dpd__search {
  display: block;
  width: 100%;
  padding: 4px 8px;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid silver;
}
.cost-calc .header-dpd__btn {
  border: none;
  text-align: left;
  background-color: transparent;
  padding: 4px 6px;
  width: 100%;
  cursor: pointer;
}
.cost-calc .header-dpd__options {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  max-height: 250px;
  overflow: auto;
}
.cost-calc .header-dpd__options .header-dpd__btn:hover {
  background: #f5f7f9;
}
.cost-calc .header-dpd__options .header-dpd__btn.is-hidden {
  display: none;
}
