.footer-nav__btns button,
.footer-states,
.footer-visual__caption {
  text-transform: uppercase;
  font-weight: 700;
}
.footer-bottom a:hover,
.footer-visual__top:hover,
.pager__page:hover {
  text-decoration: none;
}
.footer-visual {
  padding: 36px 0 32px;
  background: #f3f3f4;
}
.footer-bottom .container,
.footer-visual .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer-visual__item {
  display: flex;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 33.33%;
  margin: 0 10px;
}
.footer-logo,
.footer-visual__bottom p {
  margin-bottom: 8px;
}
.footer-visual__item:first-child {
  margin-left: 0;
}
.footer-visual__item:last-child {
  margin-right: 0;
}
.footer-visual__top {
  display: block;
  background: #fff;
}
.footer-visual__top img {
  display: block;
  width: 100%;
  height: 146px;
  -o-object-fit: cover;
  object-fit: cover;
}
.footer-visual__caption {
  padding: 5px;
  background: #4192d9;
  font-size: 10px;
  line-height: 1;
  color: #fff;
  text-align: center;
}
.footer-visual__iconed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 25px 13px 21px;
}
.footer-states .container,
.footer-states .container ul,
.footer-visual__icon,
.pager,
.rek-block {
  display: -webkit-box;
  display: -ms-flexbox;
}
.footer-visual__icon {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 51px;
  height: 30px;
  padding-left: 2px;
  margin-right: 8px;
  border-right: 1px solid #e5ecf0;
}
.footer-visual__icon--create {
  width: 40px;
  height: 40px;
  background: url(../images/icon-fvisual-create.svg) 0 / contain no-repeat;
}
.footer-visual__icon--add {
  width: 40px;
  height: 40px;
  background: url(../images/icon-fvisual-add.svg) 0 / contain no-repeat;
}
.footer-visual__icon--spec {
  width: 40px;
  height: 40px;
  background: url(../images/icon-fvisual-spec.svg) 0 / contain no-repeat;
}
.footer-visual__text h4 {
  margin-top: -2px;
  font-size: 12px;
  color: #004f94;
}
.footer-visual__text p {
  font-size: 11px;
  color: #000;
}
.footer-visual__mid {
  padding: 24px 0 12px;
  font-size: 11px;
  color: #708699;
  text-align: center;
}
.footer-visual__bottom {
  position: relative;
  padding: 18px 15px 5px;
  border: 1px solid #d6e0e4;
  border-radius: 3px;
  background: #fff;
  font-size: 11px;
  line-height: 1.55;
  flex-grow: 1;
}
.footer-visual__bottom::before {
  content: '';
  position: absolute;
  top: -5px;
  left: 50%;
  width: 7px;
  height: 7px;
  margin-left: -3px;
  border-left: 1px solid #d6e0e4;
  border-top: 1px solid #d6e0e4;
  background: #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.footer-states {
  background: #fff;
  font-size: 12px;
}
.footer-states .container {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer-states .container h4 {
  margin-right: 32px;
  font-size: 12px;
  line-height: 19px;
  white-space: nowrap;
}
.footer-states .container ul {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: flex;
  height: 42px;
  border-right: 1px solid #d6e0e4;
}
.footer-states .container li {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  list-style: none;
  border-left: 1px solid #d6e0e4;
}
.footer-states .container li a {
  color: #000;
}
.footer-states .container .icon-flag {
  margin-top: -1px;
  margin-right: 10px;
}
.footer-states__rest {
  margin-left: 30px;
}
.footer-states__rest a,
.pager__pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer-states__rest a::after {
  content: '';
  width: 8px;
  height: 15px;
  margin-left: 11px;
  background: url(../images/icon-shevron-right.svg) no-repeat;
}
.icon-flag {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 11px;
  background: url(../images/flags-16.png) -100px 0 no-repeat;
}
.icon-flag--mx {
  background-position: 0 0;
}
.icon-flag--es {
  background-position: 0 -20px;
}
.icon-flag--ua {
  background-position: 0 -40px;
}
.icon-flag--gb {
  background-position: 0 -60px;
}
.footer-nav {
  padding: 36px 0 28px;
  background: #f3f3f4;
}
.footer-nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.footer-nav__aside {
  width: 201px;
  margin-right: auto;
}
.footer-logo {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 188px;
  height: 30px;
  background: url(../images/logo.svg) 0 / contain no-repeat;
}
.footer-logo a {
  display: block;
  height: 100%;
  color: transparent;
}
.footer-slogan {
  font-size: 12px;
  line-height: 1.5;
}
.footer-nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 76%;
  padding-bottom: 23px;
  font-size: 11px;
}
.footer-nav__links-col {
  max-width: 25%;
  margin: 0 0 0 10px;
}
.footer-nav__links-col h4,
.page-see-also h4 {
  margin-bottom: 8px;
  font-size: 11px;
}
.footer-links li,
.footer-nav__links-col li,
.page-see-also li {
  margin: 0 0 9px;
  list-style: none;
}
.footer-links a,
.footer-nav__links-col a,
.page-see-also a {
  color: #708699;
}
.footer-nav__link-house {
  padding: 2px 0 2px 24px;
  background: url(../images/icon-house.svg) 0/16px no-repeat;
}
.footer-nav__link-business {
  padding: 2px 0 2px 24px;
  background: url(../images/icon-business.svg) 0/16px no-repeat;
}
.footer-nav__link-supply {
  padding: 2px 0 2px 24px;
  background: url(../images/icon-settings.svg) 0/16px no-repeat;
}
.footer-nav__btns {
  width: 100%;
  text-align: right;
}
.footer-nav__btns button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 22px;
  margin-left: 4px;
  padding: 0 8px;
  border: 0;
  border-radius: 3px;
  background: #f24831;
  font-size: 10px;
  color: #fff;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}
.footer-nav__btns button:hover {
  background: #f7624e;
}
.footer-nav__btns button.btn-footer-help::before {
  content: '';
  width: 18px;
  height: 18px;
  margin-right: 4px;
  background: url(../images/icon-help.svg) no-repeat;
}
.footer-nav__btns button.btn-footer-warn::before {
  content: '';
  width: 18px;
  height: 18px;
  margin-right: 4px;
  background: url(../images/icon-warning.svg) no-repeat;
}
.footer-links {
  padding: 4px 0 27px;
  background: #f3f3f4;
  font-size: 11px;
}
.footer-links h4 {
  margin-bottom: 8px;
  font-size: 11px;
  line-height: 1.5;
}
.footer-links ul {
  -webkit-columns: 150px;
  -moz-columns: 150px;
  columns: 150px;
  -webkit-column-gap: 15px;
  -moz-column-gap: 15px;
  column-gap: 100px;
}
.footer-links ul + ul,
.page-see-also ul + ul {
  padding-top: 16px;
}
@media (max-width: 1640px) {
  .footer-links__item--hidden {
    display: none;
  }
  .footer-links ul {
    column-gap: 60px;
  }
}
@media (max-width: 1430px) {
  .footer-links ul {
    column-gap: 25px;
  }
}
@media (max-width: 1200px) {
  .footer-links ul {
    column-gap: 150px;
  }
}
@media (max-width: 660px) {
  .footer-links__item--hidden {
    display: block;
  }
}
.footer-bottom {
  padding: 13px 0;
  background: #424648;
  font-size: 10px;
  line-height: 14px;
  color: #fff;
}
.footer-bottom a {
  color: #fff;
  text-decoration: underline;
}
.footer-bottom__links {
  margin-left: auto;
}
@media (max-width: 768px) {
  .footer-bottom .container,
  .footer-states .container,
  .footer-visual .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
  }
  .footer-visual {
    padding: 16px 0 1px;
  }
  .footer-visual .container {
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer-visual__item {
    width: 100%;
    margin: 0 0 24px;
  }
  .footer-visual__top {
    margin-bottom: 10px;
  }
  .footer-visual__top img {
    height: 130px;
  }
  .footer-visual__icon {
    width: 43px;
  }
  .footer-visual__icon--add,
  .footer-visual__icon--create,
  .footer-visual__icon--spec {
    width: 32px;
    height: 32px;
  }
  .footer-visual__mid {
    display: none;
  }
  .footer-states {
    border: 1px solid #d6e0e4;
  }
  .footer-states .container {
    padding: 16px 0;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer-states .container h4 {
    margin: 0 0 15px;
  }
  .footer-states .container ul {
    height: 33px;
    margin: 0 0 13px;
    border: 1px solid #d6e0e4;
    border-radius: 3px;
    font-size: 10px;
  }
  .footer-states .container li {
    padding: 0 14px;
  }
  .footer-states .container li:first-child {
    border: 0;
  }
  .footer-states .container li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .footer-states .container .icon-flag {
    margin-right: 4px;
  }
  .footer-logo {
    width: 149px;
    height: 23px;
  }
  .footer-nav__links {
    position: relative;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: auto;
    margin: 0 -10px;
    padding: 33px 0 0;
  }
  .footer-nav__links::before {
    content: '';
    position: absolute;
    top: 15px;
    left: 10px;
    right: 10px;
    border-top: 1px solid #d6e0e4;
  }
  .footer-nav__links-col {
    width: 50%;
    max-width: 50%;
    margin: 0 0 16px;
    padding: 0 10px;
  }
  .footer-nav__btns {
    text-align: left;
  }
  .footer-links {
    padding-bottom: 16px;
  }
  .footer-links ul {
    -webkit-columns: 150px;
    -moz-columns: 150px;
    columns: 150px;
    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 10px;
  }
  .footer-bottom .container {
    margin: 3px 0;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }
  .footer-bottom__links {
    padding-top: 7px;
  }
}
.faq-header,
.faq-modal .faq-header {
  padding: 12px 15px;
}
@media (max-width: 375px) {
  .footer-links ul {
    -webkit-columns: 120px;
    -moz-columns: 120px;
    columns: 120px;
  }
}
.rek-block {
  display: flex;
  margin: 40px -10px 48px;
}
.rek-block__item {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin: 0 10px;
}
.pager {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 0 47px;
  font-size: 12px;
}
.pager__page,
.pager__page-current,
.pager__prev {
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-align: center;
}
.results + .pager {
  margin-top: -26px;
}
.pager__page,
.pager__page-current {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin-right: 8px;
  border: 1px solid #d6e0e4;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 700;
  color: #000;
}
.pager__page-current {
  border-color: #4192d9;
}
.pager__page {
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}
.pager__page:hover {
  background: #f4f6f7;
}
.pager__next::after,
.pager__prev::before {
  height: 14px;
  background: url(../images/icon-chevron-sprite.svg#blue) 50%/14px no-repeat;
  content: '';
  width: 14px;
}
.pager__prev {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 16px;
}
.pager__prev::before {
  margin-right: 9px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.pager__next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 8px;
}
.pager__next::after {
  margin-left: 9px;
}
.pager__total {
  margin-left: auto;
  font-size: 12px;
  color: #708699;
}
.page-description h2 {
  margin-bottom: 16px;
}
.page-description p {
  margin-bottom: 22px;
}
.page-see-also {
  margin: 50px 0 20px;
  font-size: 11px;
}
.page-see-also ul {
  -webkit-columns: 170px;
  -moz-columns: 170px;
  columns: 170px;
  -webkit-column-gap: 15px;
  -moz-column-gap: 15px;
  column-gap: 15px;
}
.faq {
  margin-bottom: 44px;
  border-radius: 3px 3px 0 0;
  background: #fff;
}
.faq-header,
.faq-item {
  border: 1px solid #d6e0e4;
  margin-bottom: -1px;
}
.faq-item__head {
  position: relative;
  width: 100%;
  padding: 17px 50px 17px 15px;
  background: 0 0;
  border: 0;
  text-align: left;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.faq-item__head:hover {
  background: #f9f9f9;
}
.faq-item__head::after {
  content: '';
  position: absolute;
  top: 7px;
  right: 6px;
  width: 36px;
  height: 36px;
  background: url(../images/icon-chevron-grey.svg) 50%/24px no-repeat;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  opacity: 0.3;
}
.faq-item__head.is-expanded::after {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.faq-item__body {
  display: none;
  padding: 0 15px 15px;
}
.faq-modal.faq {
  overflow: auto;
  max-height: 700px;
  margin-bottom: 24px;
}
.faq-modal.faq::-webkit-scrollbar {
  width: 14px;
}
.faq-modal.faq::-webkit-scrollbar-thumb {
  border: 4px solid #fff;
  border-radius: 14px;
  background: #708699;
}
.faq-modal .faq-item {
  border: 1px solid #d6e0e4;
  margin-bottom: -1px;
  background: #fff;
}
.faq-modal .faq-item:first-child {
  border-radius: 3px 3px 0 0;
}
.faq-modal .faq-item:last-child {
  border-radius: 0 0 3px 3px;
}
.faq-modal .faq-item__head {
  position: relative;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  width: 100%;
  padding: 8px 50px 8px 16px;
  background: 0 0;
  border: 0;
  text-align: left;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.faq-modal .faq-item__head:hover {
  background: #f9f9f9;
}
.faq-modal .faq-item__body {
  display: none;
}
.faq-modal .faq-item__body p {
  color: #2d2d2d;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}
.suggestions-carousel {
  margin-bottom: 45px;
}
.suggestions-carousel__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}
.suggestions-carousel__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}
.suggestions-carousel__nav button {
  margin-left: 16px;
  visibility: visible;
}
.suggestions-carousel__nav button:not(.is-active) {
  opacity: 0.3;
  pointer-events: none;
}
.suggestions-carousel__items {
  margin: 0 -10px;
}
.suggestions-carousel__items li {
  width: 33.33%;
  min-width: 33.33%;
}
.suggestions-carousel__item {
  display: block;
  height: 100%;
  margin: 0 10px;
  border: 1px solid #d6e0e4;
  border-radius: 3px;
  overflow: hidden;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
a.suggestions-carousel__item:hover {
  text-decoration: none;
  opacity: 0.8;
}
.suggestions-carousel__img img {
  display: block;
  width: 100%;
  height: 159px;
  -o-object-fit: cover;
  object-fit: cover;
}
.suggestions-carousel__info {
  padding: 16px;
  background: #fff;
}
.suggestions-carousel__info h4 {
  margin-bottom: 6px;
  font-size: 14px;
  text-transform: none;
}
.suggestions-carousel__info .meta-items {
  margin-right: -16px;
}
.suggestions-carousel__meta {
  padding-bottom: 8px;
}
.suggestions-carousel__meta .meta-item {
  padding-left: 20px;
  background-size: 16px;
  background-position: 0 0;
}
.suggestions-carousel__price {
  font-size: 14px;
  font-weight: 700;
  color: #000;
}
.suggestions-carousel__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin: 24px 0;
}
@media (max-width: 768px) {
  .faq-modal.faq {
    overflow: visible;
    max-height: 100%;
    margin-bottom: 24px;
  }
  .suggestions-carousel__head {
    margin-bottom: 10px;
  }
  .suggestions-carousel__nav {
    display: none;
  }
  .suggestions-carousel__items li {
    width: 258px;
    min-width: 258px;
  }
  .suggestions-carousel__bottom {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-top: 16px;
    padding: 0 15px;
  }
  .suggestions-carousel__bottom .btn-primary {
    width: 100%;
  }
}
